[submodule "VidyaGodFS"]
	path = VidyaGodFS
	url = https://github.com/lorenzo-zurini/VidyaGodFS.git
[submodule "VidyaGodIPFS"]
	path = VidyaGodIPFS
	url = https://github.com/lorenzo-zurini/VidyaGodIPFS.git
[submodule "MetaPackageFormat"]
	path = MetaPackageFormat
	url = https://github.com/lorenzo-zurini/MetaPackageFormat.git
[submodule "external/Sandboxie"]
	path = external/Sandboxie
	url = https://github.com/sandboxie-plus/Sandboxie
