[submodule "external/VidyaGodFS"]
	path = VidyaGodFS
	url = https://github.com/lorenzo-zurini/VidyaGodFS.git
[submodule "external/VidyaGodIPFS"]
	path = VidyaGodIPFS
	url = https://github.com/lorenzo-zurini/VidyaGodIPFS.git
[submodule "external/MetaPackageFormat"]
	path = MetaPackageFormat
	url = https://github.com/lorenzo-zurini/MetaPackageFormat.git
