[Desktop Entry]
Type=Application
Name=VidyaGod
Comment=A game launcher for MetaPackageFormat packages.
Exec=VidyaGod
Icon=VidyaGod
Terminal=false
Categories=Utility;
StartupNotify=true
